.header {
  height: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 24px;
}
